@import "_variables.scss";

header.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
  margin-top: 120px;
  background: url(/images/asfalt-light.png) $purple;
}

.profile-pic-container {
  margin-top: 20px;
}
