@import "_variables.scss";

.styled-button {
  font-family: Bungee, $font-stack;
  font-size: .8em;
  color: #fff;
  background-color: #4056a1;
  border: 0;
  padding: 5px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.counter {
  font-family: Bungee, sans-serif;
  size: 0.8em;
  float: right;
}

.heavy-line {
  height: 4px;
  border: 0;
  background: #545149;
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 60px;
}

textarea {
  width: 70%;
  height: 30px;
  background-color: #f4f1ec;
  border: none;
  color: #545149;
  font-weight: 600;
  font-size: 0.8em;
  resize: none;
}
